

#logo {  
    width: 400px;  
    height: auto;  
    margin-right: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
    flex-grow: 1;
}  

hr{
    border-top: 5px solid black;
    flex-grow: 2;
    flex-wrap: wrap;

}

a:link {
    text-decoration: none;
    color:black;
}


body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#product{
    background-color: yellow;
    font-weight:bold;
    margin-right: 80px;

} 
#cart{

    margin-right: 80px;

} 

.topsec{
    display: flex;
    flex-wrap: wrap;
    color:black;
    font-size: 23px;
}
.topnavright{
    flex-grow: 2;
    flex-wrap: wrap;
}
.navwords{
    text-align:right;
    flex-wrap: wrap;

}

#page-title {
    font-size: 28px;
    text-align:left;
}

a:visited {
    text-decoration: none;
    color:black;
}

.container{
    display:flex;
    flex-wrap: wrap;

}

.card-thumbnail {
    border: 3px black solid;
    display: block;
    margin-right: 80px;
    width:40%;
    height:40%;
    flex-grow:1;

}

.description{
    font-size:25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    flex-grow:5;
    
}
#dropdown {
    width: 370px;
    height:50px;
    border:black 3px solid;
    font-size:22px;
    margin-top: -12px;
}
#lastline{
    font-weight: bold;
}
#cartbutton{
    text-align: right;
    background-color: yellow;
    border: 3px solid black;
    padding: 10px 30px 10px 30px;
    margin:auto auto auto 20px
} 