h1 {
  /* set title size*/
  font-size: 5em;
  font-weight: 400;
  margin: 0;
}

.intro p {
  /* set main paragraph width*/
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
.section {
  /* set section alignment*/
  text-align: center;
}
#menu li {
  /* change menu style to finger friendly tab*/

  display: inline-block;
  margin: 5px;
  color: #000;
  background: rgb(247, 235, 235);
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 30px;
}
/* make menu item finger sized and click easy*/

#menu li.active {
  background: #666;
  background: #e0675a;
  color: black;
}
#menu li a {
  text-decoration: none;
  color: black;
}
/* show that menu items are clickable when hovering*/

#menu li.active a:hover {
  color: orangered;
}
#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}
#menu li a,
#menu li.active a {
  padding: 10px 20px;
  height: 30px;
  width: 60px;
  display: block;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#menu {
  position: fixed;
  top: 90px;
  left: 10px;
  z-index: 70;
  width: 3px;
  padding: 10px;
  margin: 10px;
}

.section p,
.intro p {
  color: black;
  font-size: 22px;
}
/* adjust paragraph font size to that it doesn't over flow*/

.section {
  text-align: center;
}

img {
  width: 400px;
}
img:hover {
  transform: scaleX(1.05) scaleY(1.05);
}
/* make image responsive to hovering/show clickable*/

#myDIV {
  top: 50%;
  right: 110px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  width: 20%;
  text-align: left;
  position: absolute;
}
/*add a div that contains instrction on the first page*/

/* change cursor to show related object*/
#section1 {
  cursor: url("https://img.icons8.com/ios/2x/wet.png") 15 15, move;
}
/* change cursor to show related object*/

#section2 {
  cursor: url("https://img.icons8.com/ios/2x/ground.png") 15 15, move;
} /* change cursor to show related object*/

#section3 {
  cursor: url("https://img.icons8.com/ios/2x/sun.png") 15 15, move;
}
/* change cursor to show related object*/

#section4 {
  cursor: url("https://img.icons8.com/ios/2x/scissors.png") 15 15, move;
}
/* change cursor to show related object*/

#section5 {
  cursor: url("https://img.icons8.com/ios/2x/bee.png") 15 15, move;
} /* change cursor to show related object*/

#section6 {
  cursor: url("https://img.icons8.com/ios/2x/temperature.png") 15 15, move;
} /* change cursor to show related object*/

#section7 {
  cursor: url("https://img.icons8.com/ios/2x/fat-emoji.png") 15 15, move;
}
/* change cursor to show related object*/

#fullpage {
  font-family: "Courier New", Courier, monospace;
} /* add font family to the whole page*/

/* bring video to the entire page...fullscreen the video*/
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index: 3;
}
/* add a layer to the page where instruction and ending notes are given*/
#section9 .layer {
  position: absolute;
  z-index: 4;
  width: 30%;
  right: 100px;
  top: 13%;
  font-size: 11px;
  background-color: #f2f2f293;
  color: white;
  border-radius: 50px;
  padding: 20px;
  text-align: left;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#section9 a:hover {
  background-color: #cdff64;
}

#section9 {
  overflow: hidden;
}
/* Hiding video controls*/
video::-webkit-media-controls {
  display: none !important;
}
/* change switch style to a toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 53px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eacf4357;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: #00000044;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #33333344;
}

/* enable toggle move between two ends when clicking*/

input:checked + .slider:before {
  -webkit-transform: translateX(195px);
  -ms-transform: translateX(195px);
  transform: translateX(195px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* adjust label size on the last page*/

label {
  color: black;
  left: 40px;
  font-size: 18px;
  text-align: center;
}
